	<section id="fh5co-testimonials" data-section="servicios" style="background-image: url(images/cano-cristales.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading transparent-panel-top">
					<h2 class="to-animate">{{ with .Site.Params.servicios.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.servicios.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 transparent-panel-bottom">
					{{ range .Site.Params.servicios.row }}
				    <div class="col-md-4">
				    	<p></p>				    	
				    </div>
				    <div class="col-md-8">
				    	<h3>{{ .title | markdownify }}</h3>			    	
				    </div>
					<div class="modal-body col-md-12">
					    <div class="col-md-4 text-right">
					    	<i class="icon to-animate-2 {{ .icon | markdownify }}"></i>	
					    </div>
					    <div class="col-md-8">
					    	<p>{{ .description | markdownify }}</p>	
					    </div>
					</div>
					{{ end }}
				</div>
			</div>			
		</div>
	</section>