	<section id="fh5co-testimonials" data-section="servicios" style="background-image: url(images/El-Valle-Bahia-Solano-Choco.jpg);">
		<div class="container">
			<div class="row">
				<div class="section-heading">
					<h2 class="to-animate text-center transparent-panel-top">{{ with .Site.Params.servicios.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.servicios.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="transparent-panel-bottom">
			{{ range .Site.Params.servicios.row }}
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h3>{{ .title | markdownify }}</h3>	
						{{ range $i,$p := .description }}
							{{if not (modBool $i 2)}}
							<div class="col-xs-4 col-xs-offset-4">
								<h5>{{ index .  0 }}</h5>	
								<p>{{ index .  1 }}</p>
							</div>
							{{ else }}
							<div class="col-xs-4">
								<h5>{{ index .  0 }}</h5>	
								<p>{{ index .  1 }}</p>
							</div>
							{{ end }}							
						{{ end }}
					</div>
				{{ end }}
				</div>
			</div>			
		</div>
	</section>